@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Staatliches");

.tittle {
    font-family: "Open Sans";
    text-align: center;
    color: purple;
}
.tittle2 {
    font-family: "Open Sans";
    text-align: center;
}
.tittle3 {
    font-family: "Staatliches";
    font-size: 1.7em;
}
.messageText {
    font-family: "Open Sans";
    font-size: 0.8em;
}

.myNavbar {
    text-align: end;
}
.errorMessage {
    font-family: "Roboto";
    color: red;
    text-align: start;
}
.successMessage {
    font-family: "Roboto";
    color: green;
    text-align: start;
}
.errorCard {
    width: 400px;
    height: 70px;
}
.button {
    font-family: "Staatliches";
    font-size: 1.7em;
}

.text {
    font-family: "Lato";
    font-size: 1em;
}
.buttonTxt {
    font-family: "Staatliches";
    font-size: 1em;
    background-color: purple;
    border-color: white;
}
.myContainer {
    padding-top: 2.5em;
}

.messaging {
    justify-content: space-evenly;
    font-family: "lato";
}

.login {
    padding-top: 40px;
    text-align: center;
}

.purple {
    color: purple;
}
.purple2 {
    background-color: purple;
    border-color: white;
}
